.form-box {
    background: linear-gradient(to bottom right, #E4EDF1, #f0f4f7);
    box-shadow:  0px 4px 12px rgba(0,0,0,1);
    font-size: 0.7rem;
    color: var(--cor-destaque);
}

.form-revisao-body {
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px; 
    margin-bottom: 30px; /* espaço extra abaixo dos botões */
}

.custom-btn {
    background-color: var(--cor-destaque);
    color: #E4EDF1 !important;
    font-size: 1.1rem !important;
    padding: 10px 24px !important;
    border-radius: 8px !important;
    border: none !important;
    transition: 0.3s ease !important;
    min-width: 150px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn:hover {
    background-color: var(--cor-destaque);
    color: #ffffff !important;
}

.form-box h5 {
    color: var(--cor-destaque);
    font-weight: 700;
    margin-bottom: 20px;
}