@import './styles/paleta.css';

body {
    background-color: var(--cor-fundo-principal);
    font-family: var(--fonte-principal);
  }
  
  button {
    background-color: var(--azul);
    color: var(--branco);
  }
  