/* Estilos adicionais para personalizar o formulário */
h2 {
  color: #004c56;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
}

input:focus {
  border-color: #5E3EFF;
  box-shadow: 0 0 0 0.2rem rgba(94, 62, 255, 0.25);
}
