.progress-bar-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.step-container {
    flex: 1;
    min-width: 120px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.step-container:last-child {
    flex: 0 0 auto;
    margin-right: 20px;
}

.circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #e4edf1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #044654;
    font-weight: bold;
    z-index: 1;
    flex-shrink: 0;
}

.circle.active {
    background-color: #044654;
    color: #e4edf1;
}

.etapa-label {
    margin-left: 8px;
    font-size: 0.8rem;
    color: #044654;
    white-space: nowrap;
    text-overflow: unset;
    overflow: visible;
    max-width: 120px;

}

.etapa-label.ativa {
    font-weight: bold;
    color: #044654;
}


@media (max-width: 768px) {
    .circle {
        width: 18px;
        height: 18px;
        font-size: 0.7rem;
    }

    .etapa-label {
        font-size: 0.7rem;
        margin-left: 4px;
    }


@media (max-width: 480px) {
    .circle {
        width: 15px;
        height: 15px;
        font-size: 0.6rem;
    }

    .etapa-label {
        font-size: 0.6rem;
    }
}
}