.cards-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

.dashboard-card {
  display: flex;
  align-items: center;
  margin: 1px 150px;
  font-size: 16pt;
  font-weight: 900;
  padding: 10px  15px;
  border-radius: 10px;
  color: white;
  
}
.dashboard-card p, h3{
  margin-left: 16px;
  font-size: 16pt;
  font-weight: 700;
}

.bg-cyan { background-color: #044654; }
.bg-green { background-color: #00CC92; }
.bg-red { background-color: #FE4120; }
