/* Botão do menu */
.header{
  display: flex;
  position: relative; /* mantém dropdown posicionado dentro do header */
  bottom: 7.5rem;
  justify-content: space-between; /* melhor distribuição */
  align-items: center;
  width: 100vw;
  padding: 10px 30px;
  background-color: #044654;
}

.menu-toggle {
  display: inline-block;
  font-size: 30pt;
  cursor: pointer;
  color: #E4EDF1;
  border-radius: 5px;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  top: 85px; /* abaixo do botão */
}

.dropdown-menu.hide {
  display: none;
}

.dropdown-menu.show {
  display:grid;
  background-color: transparent;
  border: none;
}

.menu-dropdown li {
  display: flex;
  position: relative;
  right:30px;
  background-color: #044554;
  color: #E4EDF1;
  align-items: center;
  padding: 1rem 2rem;
  margin: 1px;
  gap: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  font-size: 14pt;
  font-weight: 500;
  cursor: pointer;
  transition: max-height 0.4s ease;
    
 
}

.menu-dropdown li:hover {
  background-color: #5e929ef6;
  border-radius: 12px;
}

.menu-dropdown img {
  width: 40px;
  height: 40px;
}

.logo{
  font-size: 32pt;
  font-weight: 900;
  color: #E4EDF1;
  margin-left: 25%;
}

.user-section {
  font-size: 14pt;
  color: #E4EDF1;
}

.config-btn{
  font-size: 32pt;
  border: none;
  cursor:pointer;
}
