/* StudentsTable.css */

.table {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  margin-top: 2.5em;
}

.table  td{
  font-size: 12pt;
  font-weight: 600;
  vertical-align: middle;
  color:#1E2019;
}

.table-itens{
  border-collapse: collapse;
  width: 100%;
}

.search th {
  background-color: #044654;
  font-size: 14pt;
  color: white;
  font-weight: 900;
}

.students-table .badge {
  font-size: 0.85rem;
  padding: 0.5em 1em;
  border-radius: 1rem;
}

.btn-table{
  border: none;
  color: #1E2019;
  font-weight: 900;
}
