.form-box {
    background: linear-gradient(to bottom right, #E4EDF1, #f0f4f7);
    box-shadow:  0px 4px 12px rgba(0,0,0,1);
    font-size: 0.9rem;
    color: var(--cor-destaque);
    border-radius: 10px;
    padding: 2rem;
}


@media (max-width: 992px) {
    .form-box {
        padding: 1.5rem;
    }

    .form-box h5 {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .form-box {
        padding: 1.2rem;
    }

    /* Garantir que cada Col fique com margem e espaçamento */
    .row > div {
        margin-bottom: 1rem;
    }

    /* Labels maiores e mais legíveis */
    .form-box label {
        font-size: 0.95rem;
    }

    /* Inputs ocupam 100% sempre */
    .form-box input,
    .form-box select {
        font-size: 1rem;
        width: 100%;
    }

    /* Títulos centralizados no mobile */
    h5 {
        text-align: center;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {

    .form-box {
        padding: 1rem;
    }

    .form-box label {
        font-size: 0.9rem;
    }

    .form-box input,
    .form-box select {
        font-size: 0.95rem;
    }

    input[type="file"] {
        font-size: 0.85rem;
    }
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .nav-buttons-container {
        flex-direction: column;
        gap: 10px;
    }
}
