.modal{
   margin: 10% 0%;
   font-family: Arial, Helvetica, sans-serif;
}

.modalheader{
    background-color: var(--cor-destaque);   
    color:var(--branco);
   
}

.modalTitle{
    font-size: 2rem;
    font-weight: 600;
    color:(--branco);
}

.modalbody{
    background-color: var(--cor-destaque);
}

.modalbody p{
    font-size: 1.2rem;
    color:var(--branco);
}

.modalbody ul{
    font-size: 1.2rem;
    color: (--branco);
}

.modalfooter{
    background-color: var(--cor-destaque);
    border: 2px solid var(--cor-destaque);
}

.modalfooter button{
    background-color: var(--preto);
}