.modal{
   margin: 10% 0%;
   font-family: Arial, Helvetica, sans-serif;

   
}

.modalheader{
    background-color: var(--azul);   
    color:var(--cor-texto-principal);
   
}

.modalTitle{
    font-size: 18pt;
    font-weight: 600;
    color:(--branco);
}

.modalbody{
    background-color: var(--azul);
}

.modalbody p{
    font-size: 16pt;
    color:var(--branco);
}

.modalbody ul{
    font-size: 14pt;
    color: (--branco);
}

.modalfooter{
    background-color: var(--azul);
    border: 2px solid var(--azul);
}

.modalfooter button{
    background-color: var(--preto);
}