body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.register-container {
  display: flex;
   height: 100vh;
  flex-direction: column;
  background: linear-gradient(to bottom, #E4EDF1  55%, #044654 40%);
  align-items: center;
}

.header {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 120px;
  
  
}
.header h1{
  color: #1E2019;
  font-size: 36pt;
}

.register-card-header {
  background-color: #044654;
  padding: 10px;
  text-align: center;
  border-radius: 12px 12px 0px 0px;
}

.register-card-header h2 {
  color: #E4EDF1;
  font-size: 16pt;
  margin:auto;
}

.Forms-box{
  display: flex;
  flex-direction: column;
  background-color: #E4EDF1;
  box-shadow: 10px 10px 10px 0px;
  border-radius: 18px;
  margin-top: 65px;  
}

.register-form {
  height: auto;
  width: 1200px;
  padding: 20px;
    
}
.input {
  margin-left: 10px;
  padding: 10px 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  box-shadow: 6px 6px 10px #1E2019;;
 
  
  
}
.group{
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding: 2px 30px
  
}
.group label{
  font-size: 14pt;
  font-weight: 900;
  margin-right: 10px;
}

.group input, select{
  flex: 1;
  margin: 4px;
  padding: 6px;
}


.register-form button {
  margin-left: 38%;
  margin-top: 10px;
  background-color: #044654;
  color: white;
  padding: 15px 100px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16pt;
  font-weight: bold;
}
