.controle-wrapper {
  background-color: var(--cor-fundo-principal);
  min-height: 100vh;
  padding: 20px;
}
.titulo-controle {
  text-align: center;
  font-weight: bold;
  color:var(--cor-texto-principal);
}
.tabela{
  background-color: var(--cor-fundo-secundario);
}
.table td{
  background-color: var(--branco);
  color: var(--preto)
}
.tabela-custom th {
  background-color: var(--cor-destaque);
  color: var(--cor-texto-principal);
  text-align: center;
}
.tabela-custom td {
  vertical-align: middle;
  text-align: center;
}

.form-select {
  width: 100%;
  height: auto; 
  padding: 0.6rem; 
    /* limite em telas grandes */
}
.btn-buscar{
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: var(--cor-destaque);
  cursor: pointer;  
  transition: background 0.3s ease;
}
.btn-buscar:hover {
  cursor: pointer;
  background-color: var(--azulHover);
}
.btn-buscar img {
filter: brightness(0) invert(1); /* deixa a lupa branca */
}
.status-badge {
  display: inline-block;
  min-width: 80px;
  padding:0.7rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.status-badge.ativo {
  background-color: var(--verdeDashBoard)  ; /* Verde */
  color: var(--branco);
}

.status-badge.inativo {
  background-color: var(--vermelhoDashBoard) ; /* Vermelho */
  color: var(--branco);
}
/* Linha de filtros no canto direito */
.filtros-row {
  display: flex;
  justify-content:flex-end;
  gap: 10px;
}

/* Botão de pesquisa */
.btn-busca { 
  flex:1;    
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 0.2rem;
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: var(--cor-destaque);
  cursor: pointer;  
  transition: background 0.3s ease;
}
.btn-busca:hover {
  cursor: pointer;
  width: 100%;
   background-color: var(--azulHover);
}
.btn-busca img {
filter: brightness(0) invert(1); /* deixa a lupa branca */
}

.filtros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.pesquisa-row {  
  display:flex; 
  flex-wrap:wrap; 
  justify-content:center; 
  gap:10px; 
}

@media (max-width: 768px) {
  .controle {
    flex-direction: column;   
  }
  .pesquisa-item {
    width: 100%;
  }
  .btn-submit {
    width: 100%;
      margin: auto;  
  }
  .filtragem{
    flex-direction: row;
  }
  .filtros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

}


