body, html {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  height: 100%;
}
.login-container {
  display: flex;
  flex-direction: row; /*Descktop lado a lado*/
  justify-content: space-between;
  min-height: 100vh;
  align-items: stretch;
  background: linear-gradient(to left, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);
  padding: 1rem;
}
.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;  
}
.header-logo h1{
  font-weight: 800;
  font-size: 2.5rem;
  color:var(--branco) ;
}
.logoa{
  width: 80px;
  height: auto;
}
.login-card { 
  flex:1;
  width: 100%;
  max-width: 420px;
  background-color: var(--cor-fundo-secundario);
   box-shadow: 8px 6px 12px var(--preto);
  border-radius: 14px;
  margin: auto 6rem;
}
.title-login {
  background-color: var(--cor-destaque);
  padding: 10px;
  text-align: center;
  border-radius: 12px 12px 0px 0px;
}
.title-login h2{
  color: var(--branco);
  font-size: 1.2rem;
  margin: 0;
}
.aside-containerLogin{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  padding: 2rem;
  text-align: center;
}
.aside-containerLogin p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap:0.1rem;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}
.login-form label {
  font-weight: 700;
  color: (--cor-texto-principal);
 font-size: 0.9rem;
}
.login-form input {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 8px;
  border: 6px;
  border: 1px solid var(--branco);
  box-shadow: 2px 2px 6px rgba(0,0,0,1.12);
}
.login-form input:placeholder {
  color: var(--preto);
  font-family: monospace;
  font-size: 1rem;
}
.redefineSenha{
  margin: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  color:(--cor-link);
  text-decoration: underline;
  text-align: left;
}

.btn-submit {
  background-color: (--cor-destaque);
  color: var(--branco); 
  margin: auto;
  padding:10px 28px;
  border-radius:8px;
  border:none;
  font-size:1rem;
  cursor:pointer;
  max-width: 250px;
}
.btn-submit:hover { 
  opacity:0.9 
};

/* 📱 Responsividade*/

@media (max-width: 768px) {
  .login-container{
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);;
  }
  .header-logo h1 {
    font-size: 2rem;
  }
  .logoa {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .login-container{
    flex-direction: column; 
    background: linear-gradient(to top, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);;
    align-items: center;
    margin:  auto;
  }
  .header-logo h1{
    font-size: 1.5rem;
  }
  .aside-containerLogin p {
  font-size: 1rem;
  font-weight: 600;
  }
  .login-form input {
    font-size:0.9rem;
    padding: 0.7rem;
  }
  .login-form button{
    font-size: 0.9rem;

  }
   .login-card{
    max-width: 100%;
    min-height: 250px;
    margin: 8rem auto;
  }
}