
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: var(--branco);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: var(--azul);
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #4a30d1;
  }
  