body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.cadastro-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:stretch;
  min-height: 100vh;
  background: linear-gradient(to left, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);
  padding: 1rem;

}

/*Cabeçalho lateral*/
.header-Cadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;  
}
.header-Cadastro h1{
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--branco);
}
.logoa{
  width: 80px;
  height: auto;
}
/*Card de cadastro*/
.register-card{
  flex:1;
  width: 100%;
  max-width: 420px;
  background-color:var(--cor-fundo-secundario) ;
  box-shadow: 8px 6px 12px var(--preto);
  border-radius: 14px;
  margin: auto 6rem;
}

.title{
  background-color: var(--cor-destaque);
  padding: 10px ;
  text-align: center;
  border-radius: 12px 12px 0px 0px;
}
.title h2{
  color: var(--branco);
  font-size: 1.2rem;
  margin: 0;
}
/*Texto lateral*/
.asideContainerCadastro{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  padding: 2rem;
  text-align: center;
  
}
.asideContainerCadastro p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
 
}
/*Campos*/
.field{
  display: flex;
  flex-direction: column;
  gap:0.1rem;
  margin: 0.5rem 0;
  width: 100%;

}
.field label{
  font-weight: 700;
  color: var(--cor-texto-principal);
  margin-left: 1.5rem;
}

.tooltip-icon {
  color: red;
  font-weight: bold;
  margin-left: 6px;
  cursor: help;
  font-size: 1.5rem;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.cadastro-form input,
.cadastro-form select {
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 8px;
  border: 6px;
  border: 1px solid var(--branco);
  box-shadow: 2px 2px 6px rgba(0,0,0,1.12) ;
}
.cadastro-form input,
.cadastro-form select hover{
  color: var(--preto);
  font-family: monospace;
  font-size: 1rem;
}
.voltarPrincipal {
  margin: 0.4rem 1.5rem;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  color: var(--cor-link);
  text-decoration: underline;
}

.actionss { 
  display: flex;
  justify-content: center;
  margin:auto;
  gap: 1rem;
}
.actions .btn-submit {
  flex: 1;
  background:var(--cor-destaque);
  color: var(--branco);
  padding:10px 28px;
  
  border-radius:8px;
  border:none;
  font-size:1rem;
  cursor:pointer;
  max-width: 250px;
}
.btn-submit:hover { 
  opacity:0.9 
};


/* 📱 Responsividade*/

@media (max-width: 768px) {
  .cadastro-wrapper{
    flex-direction: column; 
    background: linear-gradient(to top, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);
    align-items: center;
  }
  .asideContainerCadastro {
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .header-Cadastro h1{
    font-size: 2rem;
  }
  .register-card{
    width: 100%;
    margin-top:1rem;
  }
   .actions {
    flex-direction: column; /* empilha */
    align-items: stretch;
  }
   .actions .btn-submit {
    max-width: 100%; /* ocupa largura toda no mobile */
  }
}

@media (max-width: 480px) {

  .cadastro-wrapper{
    flex-direction: column; 
    background: linear-gradient(to top, var(--cor-fundo-principal)  50%, var(--cor-destaque) 50%);
    align-items: center;
  }
  .header-Cadastro h1{
    font-size: 1.5rem;
  }

  .asideContainerCadastro p {
  font-size: 0.8rem;
  font-weight: 600;
  
}
  .cadastro-form input,
  .cadastro-form select {
    width: 100%;
    font-size:0.9rem;
  }
  .btn-submit{
    font-size: 0.9rem;
    padding: 0.7rem;
  }
   .register-card{
    width: 100%;
  }
   .actions {
    flex-direction: column; /* empilha */
    align-items: stretch;
  }
   .actions .btn-submit {
    max-width: 100%; /* ocupa largura toda no mobile */
  }

}