.observacoes-wrapper {
  background: #e4edf1;
  min-height: 100vh;
  padding: 1rem;
  margin-top: 2.5rem;
}

/* Coluna de Professores */
.professores-col {
  background: #044654;
  color: #fff;
  border-radius: 8px;
  padding: 1rem;
  height: 100%;
}
.professores-col h5{
  text-align: center;
  margin-bottom: 3rem;
}
.prof-title {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  text-align: center;
}
.prof-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.prof-list li {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  margin-left: 1.2rem;
}
.prof-list li:hover {
  background: #056172;
}
.prof-list li.active {
  background: #00cc92;
  font-weight: bold;
}

/* Coluna Observações */
.observacoes-col {
  text-align: center;
  
}
.obs-title {
  margin-bottom: 1rem;
  font-weight: bold;
}
.obs-card {
  max-height: 250px;  /* altura máxima da caixa */
  overflow-y: auto;   /* ativa o scroll vertical */
  padding: 5px;
  background: #fff;   /* fundo branco */
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/* Barra de scroll mais discreta */
.obs-car::-webkit-scrollbar {
  width: 6px;
}

.obs-card::-webkit-scrollbar-thumb {
  background: #044654;   /* cor do seu tema */
  border-radius: 4px;
}
.comentario {
  text-align: left;
  margin-bottom: 1rem;
}
.comentario .autor {
  font-size: 0.85rem;
  color: #555;  
}

/* Novo Comentario */
.novo-comentario {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 4rem;

}
.novo-comentario input {
  flex: 1;
  min-width: 0; /*Evita estoura a tela*/
}
.btn-enviar {
  background: #044654;
  border: none;
}
.btn-enviar:hover {
  background: #056172;
}

/* Coluna Aluno */
.aluno-col {
  text-align: center;
}
.aluno-title {
  background: #044654;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
}
.aluno-card {
  background: #dcdcdc;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

@media (max-width: 768px) {
  .novo-comentario {
    flex-direction: column; /* input em cima, botão embaixo */
  }

  .novo-comentario button {
    margin: auto;
    width: 35%;
  }

  .aluno-col{
    
    margin: 1rem auto;
  }
  /* Dropdown no mobile */
  .dropdown-mobile {
    width: 80%;        /* largura desejada (pode ser 60%, 70%, etc) */
    max-width: 300px;  /* trava para não ficar gigante */
    margin: 0 auto;    /* centraliza */
    display: block;    /* garante que o auto funcione */
  }

}
