.custom-btn {
  background-color: #044654;      /* Azul escuro */
  color: white;                   /* Texto branco */
  padding: 12px 20px;             /* Espaçamento interno */
  margin: 6px 0;                 /* Espaço entre os botões */
        /* Borda preta */
  border-radius: 10px;            /* Cantos arredondados */
  width: 60%;                    /* Ocupa toda a largura da coluna */
  font-size: 16px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.4); /* Sombra leve */
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #033442; /* Cor um pouco mais escura ao passar o mouse */
  transform: scale(1.02);    /* Leve crescimento no hover */
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom-btn {
    
    flex-direction: row;

  }
  tbody {
      font-size: 0.9rem;
  }
}
