.button-row {
  display: flex;
  gap: 1rem;               /* Espaço entre botões */
  justify-content: center; /* Centraliza horizontalmente */
  flex-wrap: wrap;         /* Quebra linha se não couber */
  margin: 1.2rem 0;        /* Margem vertical opcional */
}

.custom-btn {
  background-color: #044654;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease;
  flex: 1 1 120px;         /* Cresce, encolhe, mínimo de 120px */
  max-width: 180px;        /* Não fica maior que 180px */
}

.custom-btn:hover {
  background-color: #033442;
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 768px) {
  .button-row {
    display: inline-flex;
    flex-wrap: wrap;       /* Quebra linha em telas muito estreitas */
    justify-content: center;
    margin-left: 8rem;
  }

  .custom-btn {
    flex: 1 1 100px;       /* Ocupam no mínimo 100px cada */
    max-width: none;       /* Desativa limite rígido no mobile */
  }
}


/* Se quiser forçar no mobile que não enfileirem em coluna */

@media (max-width: 480px) {
  .button-row {
    display: inline-flex;
    flex-wrap: wrap;       /* Quebra linha em telas muito estreitas */
    justify-content: center;
    margin-left: 8rem;
  }

  .custom-btn {
    flex: 1 1 100px;       /* Ocupam no mínimo 100px cada */
    max-width: none;       /* Desativa limite rígido no mobile */
  }
}
