.button-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; 
  flex-wrap: wrap; 
   margin-right: 1.7rem;
}
.button-row a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.button-row a:focus,
.button-row a:active {
  outline: none;
}
.custom-btn {
  background-color: var(--cor-destaque);
  color: var(--branco);
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease;
  flex: 1 1 120px; 
  max-width: 200px; 
}
.custom-btn:focus {
  outline: none;
  box-shadow: none;
}
.custom-btn:hover {
  background-color: var(--azulHover);
  transform: scale(1.02);
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-row {
    display: inline-flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  .custom-btn {
    flex: 1 1 100px; 
    max-width: none; 
  }
}

@media (max-width: 480px) {
  .button-row {
    display: inline-flex;
    flex-wrap: wrap;
    margin:auto;
    margin-left: 3rem;
    justify-content: center;
  }
  .custom-btn {
    flex: 1 1 100px; 
    max-width: none; 
  
  }
}
