.modal{
    margin: 10% 0%;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.modalheader{
    background-color: #044654;   
    color:#E4EDF1;
   
}
.title-modal{
    display: flex;
    font-size:16pt;
    font-weight: 400;  
    color:#E4EDF1;
}
.modal-body{
    background-color: #044654;
     border: 2px solid #044654;
}

.modal-body p{
    font-size: 14pt;
    font-weight: 600;
    color:#E4EDF1;
}
.text-email{
    margin: 5px 0px;
    font-size: 12pt;
    font-weight: 600;
    color:#E4EDF1;
}
ul{
    position: relative;
    right: 20px;
}
.input-email{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #1E2019;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease;
  width: 100%;
}
.modal-footer{
    background-color: #044654;
    border: 2px solid #044654;
}

.modal-footer button{
    background-color: #1E2019;
}